.contact_container {
  width: 60%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  margin: 0 auto;
}

/* Contact cards */
.contact_options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact_option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact_option:hover {
  background: transparent;
  border-color: var(--color-bg-variant);
}

.contact_option svg {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-primary);
}

.contact_option a {
  display: inline-block;
  margin-top: 0.7rem;
  font-size: 0.8rem;
  color: var(--color-primary);
}

/* Contact form */
.contact_container form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact_container form input,
.contact_container form textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-bg-variant);
  color: var(--color-white);
  resize: none;
  transition: var(--transition);
}

.contact_container form input:focus,
.contact_container form textarea:focus {
  outline: none;
  border-color: var(--color-primary);
}

.contact_container form button {
  font-size: 18px;
  padding: 14px 30px;
  align-self: start;
}

/* Tablet */
@media (max-width: 1024px) {
  .contact_container {
    width: 80%;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .contact_container {
    width: 90%;
  }

  .contact_option {
    padding: 1rem;
  }

  .contact_container form input,
  .contact_container form textarea {
    padding: 1rem;
  }

  .contact_container form button {
    font-size: 16px;
    padding: 12px 24px;
  }
}
